<%-include("partials/header");-%>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light ts">Your spicy feed</h1>
            <p class="lead text-muted p-center ts">
                Have a peek on others secret, their life stories, struggle and
                the most embarrassing moments. Never let the spiceness die.
            </p>
            <img id="chili" class="ts"src="images/red-chili-pepper.png" alt="" />
            <p class="p-center ts">
                <a href="/compose" class="btn btn-dark my-2"
                    >Post your Secret</a
                >
                <% if(req.isAuthenticated()){ %> 
                <a href="/logout" class="btn btn-outline-dark my-2"
                    >Logout action</a
                >
                <% }else{ %> 
                    <a href="/login" class="btn btn-outline-dark my-2"
                    >Login To Post</a
                >
                <% } %> 
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <%posts.forEach(function(post){%>
            <div class="col">
                <div class="card shadow-sm mycard">
                    <div class="card-img-container">
                        <img src="<%= post.img %>"  class="card-img-top card-img" alt="">
                    </div>
                    
                    <div class="card-body">
                        <h5><%= post.title %></h5>
                        <p class="card-text"><%= post.content.substring(0,100)+" . . ." %></p>
                        <div
                            class="d-flex justify-content-between align-items-center"
                        >
                            <div class="btn-group">
                                <a
                                    href="/posts/<%=post._id%>"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                >
                                 View
                                </a>
                                <!-- <a href="/edit/<%=post._id%>"
                                    type="button"
                                    class="btn btn-sm btn-outline-secondary"
                                >
                                  Edit
                                </a> -->
                            </div>
                            <small class="text-muted"><%= post.postedOn.toDateString()%> </small>
                        </div>
                    </div>
                </div>
            </div>

            <%}); %>
        </div>
    </div>
</div>

<%-include("partials/footer");%>
